{% if page.layout == 'home' %}
<header class="hero-section">
    <div class="hero-content">
        <nav class="navbar">
            <div class="logo"><a href="{{ '/' |  }}" style="color: inherit;">MIRS</a></div>
            <ul class="nav-links">
                <li><a href="{{ '/' }}#about">O parfemu</a></li>
                <li><a href="{{ '/' |  }}#buy">Kupi</a></li>
                <li><a href="{{ '/blog/' |  }}">Blog</a></li>
                <li><a href="{{ '/' |  }}#about-us">O nama</a></li>
                <li><a href="{{ '/faq/' |  }}">F.A.Q.</a></li>
                <li><a href="{{ '/' |  }}#contact">Kontakt</a></li>
            </ul>
        </nav>
        <div class="hero-text">
            <h1>MIRS</h1>
            <p>Elegancija i izvorna priroda. Parfem za smjele žene.</p>
            <a href="#about" class="btn">Otkrijte MIRS</a>
        </div>
    </div>
</header>
{% else %}
<nav class="navbar" style="background-color: var(--bg-dark);">
    <div class="logo"><a href="{{ '/' |  }}" style="color: var(--light-text-color);">MIRS</a></div>
    <ul class="nav-links">
        <li><a href="{{ '/' |  }}#about">O parfemu</a></li>
        <li><a href="{{ '/blog/' |  }}">Blog</a></li>
        <li><a href="{{ '/' |  }}#buy">Kupi</a></li>
    </ul>
</nav>
{% endif %}
