---
layout: default
---

<article>
    <div class="post-header-section">
        <div class="container">
            <p class="post-meta">{{ page.date | date: "%d. %m. %Y." }} • {{ page.author | default: "MIRS Tim" }}</p>
            <h1 class="post-title">{{ page.title }}</h1>
        </div>
    </div>

    <div class="container">
        <div class="post-content">
            {{ content }}
        </div>
        <section id="contact" class="section notes-section">
    <div class="container">
        <h2>Kontaktirajte nas</h2>
        <p>Želite da vam javimo kada MIRS bude dostupan? Ostavite nam svoj e-mail i kontaktirat ćemo vas čim
            novi <i>batch</i> bude spreman. </p>

        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">

        <form class="contact-form"
            action="https://davorbanovic.us22.list-manage.com/subscribe/post?u=1b4d266a5d6b942b87c3dd168&amp;id=4158d4296d&amp;f_id=0055e8e1f0"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank">

            <input type="email" placeholder="Vaš email" name="EMAIL" id="mce-EMAIL" required="" value="">
            <div hidden=""><input type="hidden" name="tags" value="27854"></div>
            <div id="mce-responses" class="clear foot">
                <div class="response" id="mce-error-response" style="display: none;"></div>
                <div class="response" id="mce-success-response" style="display: none;"></div>
            </div>
            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                <input type="text" name="b_1b4d266a5d6b942b87c3dd168_4158d4296d" tabindex="-1" value="">
            </div>

            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn" value="Pošalji">

    </div>
    </form>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script
        type="text/javascript">(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; fnames[6] = 'COMPANY'; ftypes[6] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
    </div>
</section>
        <div style="text-align: center; margin-bottom: 60px;">
             <a href="{{ '/blog/' | relative_url }}" class="btn">Natrag na Blog</a>
        </div>
    </div>
</article>